[submodule "Appler/Vendor/GLFW"]
	path = Appler/Vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Appler/Vendor/ImGUI"]
	path = Appler/Vendor/ImGUI
	url = https://github.com/TheCherno/imgui.git
[submodule "Appler/Vendor/ImGUIZMO"]
	path = Appler/Vendor/ImGUIZMO
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "Appler/Vendor/GLM"]
	path = Appler/Vendor/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Appler/Vendor/STB_IMAGE"]
	path = Appler/Vendor/STB_IMAGE
	url = https://github.com/nothings/stb.git
